Loading the Data Set

In [1]:
import pandas as pd 

df_data = pd.read_csv("../data/raw/data.csv")
df_domains_location = pd.read_csv("../data/raw/domains_location.csv")
df_traffic = pd.read_csv("../data/raw/traffic.csv")

Info about each data frame

In [2]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105375 entries, 0 to 105374
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   article_id    105375 non-null  int64
 1   source_id     24495 non-null   object
 2   source_name   105375 non-null  object
 3   author        97156 non-null   object
 4   title         105335 non-null  object
 5   description   104992 non-null  object
 6   url           105375 non-null  object
 7   url_to_image  99751 non-null   object
 8   published_at  105375 non-null  object
 9   content       105375 non-null  object
 10  category      105333 non-null  object
 11  full_content  58432 non-null   object
dtypes: int64(1), object(11)
memory usage: 9.6+ MB

In [3]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   GlobalRank      1000000 non-null  int64
 1   TldRank         1000000 non-null  int64
 2   Domain          1000000 non-null  object
 3   TLD             1000000 non-null  object
 4   RefSubNets      1000000 non-null  int64
 5   RefIPs          1000000 non-null  int64
 6   IDN_Domain      1000000 non-null  object
 7   IDN_TLD         1000000 non-null  object
 8   PrevGlobalRank  1000000 non-null  int64
 9   PrevTldRank     1000000 non-null  int64
 10  PrevRefSubNets  1000000 non-null  int64
 11  PrevRefIPs      1000000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 91.6+ MB

In [4]:
df_domains_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37802 entries, 0 to 37801
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SourceCommonName  37802 non-null  object
 1   location          37802 non-null  object
 2   Country           37801 non-null  object
dtypes: object(3)
memory usage: 886.1+ KB

Shape of data frame

In [5]:
df_data.shape

(105375, 12)

In [6]:
df_traffic.shape

(1000000, 12)

In [7]:
df_domains_location.shape

(37802, 3)

Columns of each data Set

In [8]:
df_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [9]:
df_traffic.columns

Index(['GlobalRank', 'TldRank', 'Domain', 'TLD', 'RefSubNets', 'RefIPs',
       'IDN_Domain', 'IDN_TLD', 'PrevGlobalRank', 'PrevTldRank',
       'PrevRefSubNets', 'PrevRefIPs'],
      dtype='object')

In [10]:
df_domains_location.columns

Index(['SourceCommonName', 'location', 'Country'], dtype='object')

viewing some of the data of each data set

In [11]:
df_data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,NaN,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,NaN,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,NaN,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,NaN,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,NaN,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

In [12]:
df_domains_location.head(10)

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China
5        02blog.it       IT      Italy
6        02elf.net       GM    Germany
7           032.ua       UP    Ukraine
8          0362.ua       UP    Ukraine
9          0372.ua       UP    Ukraine

columns country

In [13]:
df_domains_location["Country"]

0          Senegal
1           France
2            Italy
3        Argentina
4            China
           ...
37797       Latvia
37798        China
37799        China
37800        Italy
37801        China
Name: Country, Length: 37802, dtype: object

loc: lable based

In [14]:
df_domains_location.loc[1]

SourceCommonName    01net.com
location                   FR
Country                France
Name: 1, dtype: object

iloc: can only be used on index

In [15]:
df_domains_location.iloc[1]

SourceCommonName    01net.com
location                   FR
Country                France
Name: 1, dtype: object

DATA CLEANING

- Removing Duplicate Data

In [16]:
df_data = df_data.drop_duplicates()
df_data.shape

(101832, 12)

In [17]:
df_traffic = df_traffic.drop_duplicates()
df_traffic.shape

(1000000, 12)

In [18]:
df_domains_location= df_domains_location.drop_duplicates()
df_domains_location.shape

(37738, 3)

Cheking for Missing values and Null Values

In [19]:
null_summary_data = df_data.isnull().sum()
null_summary_traffic = df_traffic.isnull().sum()
null_summary_domain = df_domains_location.isnull().sum()
print("data: ")
print(null_summary_data)

data:
article_id          0
source_id       78266
source_name         0
author           8219
title              40
description       380
url                 0
url_to_image     5419
published_at        0
content             0
category           42
full_content    46943
dtype: int64

In [20]:
print("traffic: ")
print(null_summary_traffic)

traffic:
GlobalRank        0
TldRank           0
Domain            0
TLD               0
RefSubNets        0
RefIPs            0
IDN_Domain        0
IDN_TLD           0
PrevGlobalRank    0
PrevTldRank       0
PrevRefSubNets    0
PrevRefIPs        0
dtype: int64

In [21]:
print("domain: ")
print(null_summary_domain)

domain:
SourceCommonName    0
location            0
Country             1
dtype: int64

checking row with null values

In [22]:
rows_with_nulls = df_data.isnull().any(axis=1).sum()
# checks if any column in a row contains at least one null (or missing) value. Here's a detailed breakdown of how it works:
    # df_data.isnull():
        # Returns a DataFrame of the same shape as df_data with True where values are null and False where they are not.

    # .any(axis=1):
        # Checks along the rows (axis=1) to see if any value in each row is True (i.e., if there is at least one null value in that row).

    # .sum():
        # Counts the total number of rows where at least one null value is present (since True is treated as 1 in Python).

print(f"Rows with nulls: {rows_with_nulls}")

Rows with nulls: 84958

In [23]:
traffic_rows_with_nulls = df_traffic.isnull().any(axis=1).sum()
print(f"Rows with nulls: {traffic_rows_with_nulls}")

Rows with nulls: 0

In [24]:
domain_rows_with_nulls = df_domains_location.isnull().any(axis=1).sum()
print(f"Rows with nulls: {domain_rows_with_nulls}")

Rows with nulls: 1

removing the source_id cloumn

In [25]:
df_data.columns = df_data.columns.str.strip()

# Specify the column you want to remove
column_to_remove = 'source_id'  # This should be fine now

# Remove the column
df_data = df_data.drop(column_to_remove, axis=1)

# Display the first few rows of the updated DataFrame
df_data.head()

,article_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

retiriving the row that the country column has a null value

In [26]:
# Specify the column you want to check for null values
column_name = 'Country'  # replace with your column name

# Get the rows where the specified column has null values
null_rows = df_domains_location[df_domains_location[column_name].isnull()]

# Display the rows with null values
null_rows

           SourceCommonName location Country
23904  northeastsurfing.com       OC     NaN

Replacing the Nan or missing value for country column the Key word UNKOWN

In [27]:
# Specify the column where you want to replace NaN values
column_name = 'Country'  # replace with your column name

# Replace NaN values with 'UNKNOWN'
df_domains_location[column_name] = df_domains_location[column_name].fillna('UNKNOWN')

Replacing the NAN or missing values for description column to key wor UNKOWN

In [28]:
# Specify the column where you want to replace NaN values
column_name = 'description'  # replace with your column name

# Replace NaN values with 'UNKNOWN'
df_data[column_name] = df_data[column_name].fillna('UNKNOWN')

In [29]:

def clean_data(df_data, df_traffic, df_domains_location):
    
    # Drop rows with missing values in essential columns for specific tasks
    df_data.dropna(subset=['source_name',  'article_id'], inplace=True)
    df_domains_location['Country'] = df_domains_location['Country'].fillna('UNKNOWN')
    
    # Drop unnecessary column 'source_id' due to high missing values
    if 'source_id' in df_data.columns:
        df_data.drop(columns=['source_id'], inplace=True)
    
    # Drop rows with missing values in traffic data if applicable
    if 'GlobalRank' in df_traffic.columns and 'Domain' in df_traffic.columns:
        df_traffic.dropna(subset=['GlobalRank', 'Domain'], inplace=True)
    
    # Drop rows for specific tasks requiring non-null values in multiple columns
    df_domains_location.dropna(subset=['SourceCommonName', 'Country', 'location'], inplace=True)
    df_data.dropna(subset=['source_name'], inplace=True)
    df_data.dropna(subset=['source_name', 'content'], inplace=True)
    
    # Impute missing values in non-critical columns with placeholders
    df_data['description'] = df_data['description'].fillna('UNKNOWN')
    df_data.dropna(subset=['title'], inplace=True)
    df_data.dropna(subset=['content'], inplace=True)
    
    # Drop rows with missing values in essential columns for final tasks
    df_traffic.dropna(subset=['GlobalRank'], inplace=True)
    df_data.dropna(subset=['source_name', 'published_at'], inplace=True)

    # Return cleaned dataframes
    return df_data, df_traffic, df_domains_location

Data Consistancy

In [30]:
import sys
import pandas as pd

# Add the src directory to the system path
sys.path.append('../src')

# Import the load_data and clean_data functions
from data_loader import load_data
from clean_data import clean_data

# Load data using load_data function
df_data, df_domains_location, df_traffic = load_data()

# Clean data by passing the loaded DataFrames to clean_data
df_data, df_traffic, df_domains_location = clean_data(df_data, df_traffic, df_domains_location)

# Function to ensure data type consistency
def ensure_data_type_consistency(df_data, df_domains_location, df_traffic):
    """
    Ensures each column in the DataFrames is of the correct data type.
    """
    # Convert 'published_at' in df_data to datetime
    if 'published_at' in df_data.columns:
        df_data['published_at'] = pd.to_datetime(df_data['published_at'], errors='coerce')

    # Convert numerical columns in df_traffic to numeric
    numerical_columns = ['GlobalRank', 'TldRank', 'RefSubNets', 'RefIPs', 'PrevGlobalRank', 'PrevTldRank', 'PrevRefSubNets', 'PrevRefIPs']
    for column in numerical_columns:
        if column in df_traffic.columns:
            df_traffic[column] = pd.to_numeric(df_traffic[column], errors='coerce')

    # Convert categorical columns in df_data to strings
    categorical_columns_data = ['source_name', 'category']
    for column in categorical_columns_data:
        if column in df_data.columns:
            df_data[column] = df_data[column].astype(str)

    # # Convert categorical columns in df_data to strings
    categorical_columns_data = ['Domain']
    for column in categorical_columns_data:
        if column in df_traffic.columns:
            df_traffic[column] = df_traffic[column].astype(str)
    
    # Convert categorical columns in df_domains_location to strings
    categorical_columns_domains = ['SourceCommonName', 'location', 'Country']
    for column in categorical_columns_domains:
        if column in df_domains_location.columns:
            df_domains_location[column] = df_domains_location[column].astype(str)

    # Display data types for verification
    print("\nData types in df_data:\n", df_data.dtypes)
    print("\nData types in df_domains_location:\n", df_domains_location.dtypes)
    print("\nData types in df_traffic:\n", df_traffic.dtypes)
    
    return df_data, df_domains_location, df_traffic

# Ensure data type consistency across DataFrames
df_data, df_domains_location, df_traffic = ensure_data_type_consistency(df_data, df_domains_location, df_traffic)

Data types in df_data:
 article_id               int64
source_name             object
author                  object
title                   object
description             object
url                     object
url_to_image            object
published_at    datetime64[ns]
content                 object
category                object
full_content            object
dtype: object

Data types in df_domains_location:
 SourceCommonName    object
location            object
Country             object
dtype: object

Data types in df_traffic:
 GlobalRank         int64
TldRank            int64
Domain            object
TLD               object
RefSubNets         int64
RefIPs             int64
IDN_Domain        object
IDN_TLD           object
PrevGlobalRank     int64
PrevTldRank        int64
PrevRefSubNets     int64
PrevRefIPs         int64
dtype: object

In [9]:
import string
df_data, df_traffic, df_domains_location = clean_data()

def normalize_and_standardize(df_data, df_domains_location, df_traffic):
    """
    This function normalizes and standardizes text and categorical data in the DataFrames.
    
    Parameters:
    - df_data: DataFrame containing article data.
    - df_domains_location: DataFrame containing domain location data.
    - df_traffic: DataFrame containing traffic data.
    
    Returns:
    - Tuple of DataFrames with normalized and standardized data (df_data, df_domains_location, df_traffic).
    """
    
    # Helper function to normalize text
    def normalize_text(text):
        if pd.isna(text):
            return text
        # Convert to lowercase, remove punctuation, and strip whitespace
        text = text.lower().strip()
        text = text.translate(str.maketrans('', '', string.punctuation))
        return text
    
    # Identify columns to normalize and standardize for each DataFrame
    text_columns_data = ['source_name']
    text_columns_domains = ['SourceCommonName', 'location', 'Country']
    text_columns_traffic = ['Domain', 'TLD', 'IDN_Domain', 'IDN_TLD']

    # Normalize text columns in df_data
    for column in text_columns_data:
        if column in df_data.columns:
            df_data[column] = df_data[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_data[column].unique())
    
    # Normalize text columns in df_domains_location
    for column in text_columns_domains:
        if column in df_domains_location.columns:
            df_domains_location[column] = df_domains_location[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_domains_location[column].unique())
    
    # Normalize text columns in df_traffic
    for column in text_columns_traffic:
        if column in df_traffic.columns:
            df_traffic[column] = df_traffic[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_traffic[column].unique())
    
    # Example standardization rules (to be adjusted based on the actual unique values found)
    # Create mappings for standardization based on unique values observed
    country_standardization = {
        'usa': 'united states',
        'uk': 'united kingdom',
        'india': 'india'
        # Add more mappings as needed
    }
    
    # Standardize categorical data
    if 'Country' in df_domains_location.columns:
        df_domains_location['Country'] = df_domains_location['Country'].replace(country_standardization)
    
    # Display the cleaned data
    # print("\nNormalized df_data:\n", df_data.head())
    # print("\nNormalized df_domains_location:\n", df_domains_location.head())
    # print("\nNormalized df_traffic:\n", df_traffic.head())

    return df_data, df_domains_location, df_traffic

# Example usage:

Data types in df_data:
 article_id               int64
source_name             object
author                  object
title                   object
description             object
url                     object
url_to_image            object
published_at    datetime64[ns]
content                 object
category                object
full_content            object
dtype: object

Data types in df_domains_location:
 SourceCommonName    object
location            object
Country             object
dtype: object

Data types in df_traffic:
 GlobalRank         int64
TldRank            int64
Domain            object
TLD               object
RefSubNets         int64
RefIPs             int64
IDN_Domain        object
IDN_TLD           object
PrevGlobalRank     int64
PrevTldRank        int64
PrevRefSubNets     int64
PrevRefIPs         int64
dtype: object

In [10]:
df_data_normalized, df_domains_location_normalized, df_traffic_normalized = normalize_and_standardize(df_data, df_domains_location, df_traffic)


print("df_data_normalized")
df_data = df_data_normalized
print(df_data)

print("df_domains_location_normalized: ")
df_domains_location = df_domains_location_normalized
print(df_domains_location)

print("df_traffic_normalized: ")
df_traffic = df_traffic_normalized
print(df_traffic)

Unique values in 'source_name' after normalization:
 ['international business times' 'prtimesjp' 'voa news' ...
 'codingthepastcom' 'ultimovacscom' 'omnigroupcom']
df_data_normalized
        article_id                   source_name  \
0            89541  international business times
1            89542                     prtimesjp
2            89543                      voa news
3            89545            the indian express
4            89547           the times of israel
...            ...                           ...
105370      781108            the indian express
105371      781129                        forbes
105372      781235                           npr
105373      781240                        forbes
105374      781308                        forbes

                                                   author  \
0                                          Paavan MATHEMA
1                                                     NaN
2              webdesk@voanews.com (Agence France-Presse)
3                                               Editorial
4                                             Jacob Magid
...                                                   ...
105370                                                PTI
105371  Tom Sanderson, Senior Contributor, \n Tom Sand...
105372                                    Brigid McCarthy
105373  Gary Stern, Contributor, \n Gary Stern, Contri...
105374  Johan Hajji, Forbes Councils Member, \n Johan ...

                                                    title  \
0       UN Chief Urges World To 'Stop The Madness' Of ...
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description  \
0       UN Secretary-General Antonio Guterres urged th...
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url  \
0       https://www.ibtimes.com/un-chief-urges-world-s...
1       https://prtimes.jp/main/html/rd/p/000000147.00...
2       https://www.voanews.com/a/un-chief-urges-world...
3       https://indianexpress.com/article/opinion/edit...
4       https://www.timesofisrael.com/200-foreigners-d...
...                                                   ...
105370  https://indianexpress.com/article/cities/banga...
105371  https://www.forbes.com/sites/tomsanderson/2023...
105372  https://www.npr.org/2023/11/29/1215016001/heal...
105373  https://www.forbes.com/sites/garystern/2023/11...
105374  https://www.forbes.com/sites/forbesbusinesscou...

                                             url_to_image        published_at  \
0       https://d.ibtimes.com/en/full/4496078/nepals-g... 2023-10-30 10:12:35
1       https://prtimes.jp/i/32220/147/ogp/d32220-147-... 2023-10-06 04:40:02
2       https://gdb.voanews.com/01000000-0a00-0242-60f... 2023-10-30 10:53:30
3       https://images.indianexpress.com/2023/10/edit-... 2023-10-06 01:20:24
4       https://static.timesofisrael.com/www/uploads/2... 2023-10-27 01:08:34
...                                                   ...                 ...
105370  https://images.indianexpress.com/2023/11/DK-Sh...                 NaT
105371  https://imageio.forbes.com/specials-images/ima...                 NaT
105372  https://media.npr.org/assets/img/2023/11/23/sa...                 NaT
105373  https://imageio.forbes.com/specials-images/ima...                 NaT
105374  https://imageio.forbes.com/specials-images/ima...                 NaT

                                                  content category  \
0       UN Secretary-General Antonio Guterres urged th...    Nepal
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[105335 rows x 11 columns]
df_domains_location_normalized:
        GlobalRank  TldRank                  Domain  TLD  RefSubNets   RefIPs  \
0                1        1              google.com  com      471274  2151358
1                2        2            facebook.com  com      465424  2250631
2                3        3             youtube.com  com      420579  1852995
3                4        4             twitter.com  com      404985  1757127
4                5        5           instagram.com  com      364746  1598085
...            ...      ...                     ...  ...         ...      ...
999995      999996   485324              kireie.com  com         222      280
999996      999997   485325             mt-lock.com  com         222      280
999997      999998   485326           pinkwater.com  com         222      280
999998      999999   485327          soderhomes.com  com         222      280
999999     1000000   485328  toyotamusicfactory.com  com         222      280

                    IDN_Domain IDN_TLD  PrevGlobalRank  PrevTldRank  \
0                   google.com     com               1            1
1                 facebook.com     com               2            2
2                  youtube.com     com               3            3
3                  twitter.com     com               4            4
4                instagram.com     com               5            5
...                        ...     ...             ...          ...
999995              kireie.com     com              -1           -1
999996             mt-lock.com     com          952633       461429
999997           pinkwater.com     com              -1           -1
999998          soderhomes.com     com              -1           -1
999999  toyotamusicfactory.com     com          973201       471949

        PrevRefSubNets  PrevRefIPs
0               471248     2147402
1               465297     2247135
2               420483     1848940
3               404998     1753939
4               364618     1594892
...                ...         ...
999995              -1          -1
999996             232         284
999997              -1          -1
999998              -1          -1
999999             228         284

[1000000 rows x 12 columns]
df_traffic_normalized:
      SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37802 rows x 3 columns]

lets test the clean data function

In [12]:

import sys
import pandas as pd

# Add the src directory to the system path
sys.path.append('../src')

# Import the load_data and clean_data functions
from clean_data import clean_data

# Load data using load_data function

# Clean data by passing the loaded DataFrames to clean_data
df_data, df_domains_location, df_traffic = clean_data()

Data types in df_data:
 article_id               int64
source_name             object
author                  object
title                   object
description             object
url                     object
url_to_image            object
published_at    datetime64[ns]
content                 object
category                object
full_content            object
dtype: object

Data types in df_domains_location:
 SourceCommonName    object
location            object
Country             object
dtype: object

Data types in df_traffic:
 GlobalRank         int64
TldRank            int64
Domain            object
TLD               object
RefSubNets         int64
RefIPs             int64
IDN_Domain        object
IDN_TLD           object
PrevGlobalRank     int64
PrevTldRank        int64
PrevRefSubNets     int64
PrevRefIPs         int64
dtype: object