Loading the Data Set

In [113]:
import pandas as pd 

df_data = pd.read_csv("../data/raw/data.csv")
df_domains_location = pd.read_csv("../data/raw/domains_location.csv")
df_traffic = pd.read_csv("../data/raw/traffic.csv")

Info about each data frame

In [114]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105375 entries, 0 to 105374
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   article_id    105375 non-null  int64
 1   source_id     24495 non-null   object
 2   source_name   105375 non-null  object
 3   author        97156 non-null   object
 4   title         105335 non-null  object
 5   description   104992 non-null  object
 6   url           105375 non-null  object
 7   url_to_image  99751 non-null   object
 8   published_at  105375 non-null  object
 9   content       105375 non-null  object
 10  category      105333 non-null  object
 11  full_content  58432 non-null   object
dtypes: int64(1), object(11)
memory usage: 9.6+ MB

In [115]:
df_traffic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   GlobalRank      1000000 non-null  int64
 1   TldRank         1000000 non-null  int64
 2   Domain          1000000 non-null  object
 3   TLD             1000000 non-null  object
 4   RefSubNets      1000000 non-null  int64
 5   RefIPs          1000000 non-null  int64
 6   IDN_Domain      1000000 non-null  object
 7   IDN_TLD         1000000 non-null  object
 8   PrevGlobalRank  1000000 non-null  int64
 9   PrevTldRank     1000000 non-null  int64
 10  PrevRefSubNets  1000000 non-null  int64
 11  PrevRefIPs      1000000 non-null  int64
dtypes: int64(8), object(4)
memory usage: 91.6+ MB

In [116]:
df_domains_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37802 entries, 0 to 37801
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SourceCommonName  37802 non-null  object
 1   location          37802 non-null  object
 2   Country           37801 non-null  object
dtypes: object(3)
memory usage: 886.1+ KB

Shape of data frame

In [117]:
df_data.shape

(105375, 12)

In [118]:
df_traffic.shape

(1000000, 12)

In [119]:
df_domains_location.shape

(37802, 3)

Columns of each data Set

In [120]:
df_data.columns

Index(['article_id', 'source_id', 'source_name', 'author', 'title',
       'description', 'url', 'url_to_image', 'published_at', 'content',
       'category', 'full_content'],
      dtype='object')

In [121]:
df_traffic.columns

Index(['GlobalRank', 'TldRank', 'Domain', 'TLD', 'RefSubNets', 'RefIPs',
       'IDN_Domain', 'IDN_TLD', 'PrevGlobalRank', 'PrevTldRank',
       'PrevRefSubNets', 'PrevRefIPs'],
      dtype='object')

In [122]:
df_domains_location.columns

Index(['SourceCommonName', 'location', 'Country'], dtype='object')

viewing some of the data of each data set

In [123]:
df_data.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,NaN,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,NaN,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,NaN,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,NaN,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,NaN,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

In [124]:
df_domains_location.head(10)

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China
5        02blog.it       IT      Italy
6        02elf.net       GM    Germany
7           032.ua       UP    Ukraine
8          0362.ua       UP    Ukraine
9          0372.ua       UP    Ukraine

columns country

In [125]:
df_domains_location["Country"]

0          Senegal
1           France
2            Italy
3        Argentina
4            China
           ...
37797       Latvia
37798        China
37799        China
37800        Italy
37801        China
Name: Country, Length: 37802, dtype: object

loc: lable based

In [126]:
df_domains_location.loc[1]

SourceCommonName    01net.com
location                   FR
Country                France
Name: 1, dtype: object

iloc: can only be used on index

In [127]:
df_domains_location.iloc[1]

SourceCommonName    01net.com
location                   FR
Country                France
Name: 1, dtype: object

DATA CLEANING

- Removing Duplicate Data

In [128]:
df_data = df_data.drop_duplicates()
df_data.shape

(101832, 12)

In [129]:
df_traffic = df_traffic.drop_duplicates()
df_traffic.shape

(1000000, 12)

In [130]:
df_domains_location= df_domains_location.drop_duplicates()
df_domains_location.shape

(37738, 3)

Cheking for Missing values and Null Values

In [131]:
null_summary_data = df_data.isnull().sum()
null_summary_traffic = df_traffic.isnull().sum()
null_summary_domain = df_domains_location.isnull().sum()
print("data: ")
print(null_summary_data)

data:
article_id          0
source_id       78266
source_name         0
author           8219
title              40
description       380
url                 0
url_to_image     5419
published_at        0
content             0
category           42
full_content    46943
dtype: int64

In [132]:
print("traffic: ")
print(null_summary_traffic)

traffic:
GlobalRank        0
TldRank           0
Domain            0
TLD               0
RefSubNets        0
RefIPs            0
IDN_Domain        0
IDN_TLD           0
PrevGlobalRank    0
PrevTldRank       0
PrevRefSubNets    0
PrevRefIPs        0
dtype: int64

In [133]:
print("domain: ")
print(null_summary_domain)

domain:
SourceCommonName    0
location            0
Country             1
dtype: int64

checking row with null values

In [134]:
rows_with_nulls = df_data.isnull().any(axis=1).sum()
# checks if any column in a row contains at least one null (or missing) value. Here's a detailed breakdown of how it works:
    # df_data.isnull():
        # Returns a DataFrame of the same shape as df_data with True where values are null and False where they are not.

    # .any(axis=1):
        # Checks along the rows (axis=1) to see if any value in each row is True (i.e., if there is at least one null value in that row).

    # .sum():
        # Counts the total number of rows where at least one null value is present (since True is treated as 1 in Python).

print(f"Rows with nulls: {rows_with_nulls}")

Rows with nulls: 84958

In [135]:
traffic_rows_with_nulls = df_traffic.isnull().any(axis=1).sum()
print(f"Rows with nulls: {traffic_rows_with_nulls}")

Rows with nulls: 0

In [136]:
domain_rows_with_nulls = df_domains_location.isnull().any(axis=1).sum()
print(f"Rows with nulls: {domain_rows_with_nulls}")

Rows with nulls: 1

removing the source_id cloumn

In [137]:
df_data.columns = df_data.columns.str.strip()

# Specify the column you want to remove
column_to_remove = 'source_id'  # This should be fine now

# Remove the column
df_data = df_data.drop(column_to_remove, axis=1)

# Display the first few rows of the updated DataFrame
df_data.head()

,article_id,source_name,author,title,description,url,url_to_image,published_at,content,category,full_content
0,89541,International Business Times,Paavan MATHEMA,UN Chief Urges World To 'Stop The Madness' Of ...,UN Secretary-General Antonio Guterres urged th...,https://www.ibtimes.com/un-chief-urges-world-s...,https://d.ibtimes.com/en/full/4496078/nepals-g...,2023-10-30 10:12:35.000000,UN Secretary-General Antonio Guterres urged th...,Nepal,UN Secretary-General Antonio Guterres urged th...
1,89542,Prtimes.jp,NaN,RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。,[株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...,https://prtimes.jp/main/html/rd/p/000000147.00...,https://prtimes.jp/i/32220/147/ogp/d32220-147-...,2023-10-06 04:40:02.000000,"RANDEBOO2023718()WEB2023 Autumn Winter \n""Nepa...",Nepal,NaN
2,89543,VOA News,webdesk@voanews.com (Agence France-Presse),UN Chief Urges World to 'Stop the Madness' of ...,UN Secretary-General Antonio Guterres urged th...,https://www.voanews.com/a/un-chief-urges-world...,https://gdb.voanews.com/01000000-0a00-0242-60f...,2023-10-30 10:53:30.000000,"Kathmandu, Nepal UN Secretary-General Antonio...",Nepal,NaN
3,89545,The Indian Express,Editorial,Sikkim warning: Hydroelectricity push must be ...,Ecologists caution against the adverse effects...,https://indianexpress.com/article/opinion/edit...,https://images.indianexpress.com/2023/10/edit-...,2023-10-06 01:20:24.000000,At least 14 persons lost their lives and more ...,Nepal,At least 14 persons lost their lives and more ...
4,89547,The Times of Israel,Jacob Magid,"200 foreigners, dual nationals cut down in Ham...","France lost 35 citizens, Thailand 33, US 31, U...",https://www.timesofisrael.com/200-foreigners-d...,https://static.timesofisrael.com/www/uploads/2...,2023-10-27 01:08:34.000000,"Scores of foreign citizens were killed, taken ...",Nepal,NaN

retiriving the row that the country column has a null value

In [138]:
# Specify the column you want to check for null values
column_name = 'Country'  # replace with your column name

# Get the rows where the specified column has null values
null_rows = df_domains_location[df_domains_location[column_name].isnull()]

# Display the rows with null values
null_rows

           SourceCommonName location Country
23904  northeastsurfing.com       OC     NaN

Replacing the Nan or missing value for country column the Key word UNKOWN

In [139]:
# Specify the column where you want to replace NaN values
column_name = 'Country'  # replace with your column name

# Replace NaN values with 'UNKNOWN'
df_domains_location[column_name] = df_domains_location[column_name].fillna('UNKNOWN')

Replacing the NAN or missing values for description column to key wor UNKOWN

In [140]:
# Specify the column where you want to replace NaN values
column_name = 'description'  # replace with your column name

# Replace NaN values with 'UNKNOWN'
df_data[column_name] = df_data[column_name].fillna('UNKNOWN')

In [144]:

def clean_data(df_data, df_domains_location, drop_columns=None, fill_unknowns=None):
    """
    This function cleans the dataset by handling missing values as specified.
    
    Parameters:
    - df_data: DataFrame containing the main article data.
    - df_domains_location: DataFrame containing domain location data.
    - drop_columns: List of columns to drop from df_data.
    - fill_unknowns: Dictionary specifying columns to fill with 'unknown'.
    
    Returns:
    - Cleaned DataFrames: df_data, df_domains_location
    """
    
    # Dropping rows with missing 'source_name'
    df_data = df_data.dropna(subset=['source_name'])
    
    # Dropping rows with missing 'domain' if uncommented
    if 'domain' in df_data.columns:
        df_data = df_data.dropna(subset=['domain'])

    # Dropping rows with missing 'published_at'
    df_data = df_data.dropna(subset=['published_at'])

    # Dropping rows where both 'content' and 'full_content' are missing
    df_data = df_data.dropna(subset=['content', 'full_content'], how='all')

    # Filling missing values in 'category' with 'unknown'
    df_data['category'] = df_data['category'].fillna('unknown')

    # Drop additional specified columns
    if drop_columns:
        df_data = df_data.drop(columns=drop_columns)

    # Filling missing values in 'Country' with 'unknown'
    df_domains_location['Country'] = df_domains_location['Country'].fillna('unknown')

    # Fill unknowns for specified columns if provided
    if fill_unknowns:
        for column in fill_unknowns:
            if column in df_data.columns:
                df_data[column] = df_data[column].fillna('unknown')
    
    # Identifying and printing missing values after cleaning
    missing_values_after = df_data.isnull().sum()
    print("\nMissing values after cleaning:\n", missing_values_after)

    return df_data, df_domains_location

# Example usage
# Load your data here
# df_data = pd.read_csv('data.csv')
# df_domains_location = pd.read_csv('domains_location.csv')

# Specify columns to drop and fill
drop_columns = ['author', 'url_to_image']
fill_unknowns = {'source_name': 'unknown', 'domain': 'unknown'}

# Clean the data
df_data_cleaned, df_domains_location_cleaned = clean_data(df_data, df_domains_location, drop_columns, fill_unknowns)

# Display cleaned DataFrames
print("df_data_cleaned")
print(df_data_cleaned)

print("df_domains_location_cleaned: ")
print(df_domains_location_cleaned)

Missing values after cleaning:
 article_id          0
source_name         0
title              40
description         0
url                 0
published_at        0
content             0
category            0
full_content    46943
dtype: int64
df_data_cleaned
        article_id                   source_name  \
0            89541  International Business Times
1            89542                    Prtimes.jp
2            89543                      VOA News
3            89545            The Indian Express
4            89547           The Times of Israel
...            ...                           ...
105370      781108            The Indian Express
105371      781129                        Forbes
105372      781235                           NPR
105373      781240                        Forbes
105374      781308                        Forbes

                                                    title  \
0       UN Chief Urges World To 'Stop The Madness' Of ...
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description  \
0       UN Secretary-General Antonio Guterres urged th...
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url  \
0       https://www.ibtimes.com/un-chief-urges-world-s...
1       https://prtimes.jp/main/html/rd/p/000000147.00...
2       https://www.voanews.com/a/un-chief-urges-world...
3       https://indianexpress.com/article/opinion/edit...
4       https://www.timesofisrael.com/200-foreigners-d...
...                                                   ...
105370  https://indianexpress.com/article/cities/banga...
105371  https://www.forbes.com/sites/tomsanderson/2023...
105372  https://www.npr.org/2023/11/29/1215016001/heal...
105373  https://www.forbes.com/sites/garystern/2023/11...
105374  https://www.forbes.com/sites/forbesbusinesscou...

                      published_at  \
0       2023-10-30 10:12:35.000000
1       2023-10-06 04:40:02.000000
2       2023-10-30 10:53:30.000000
3       2023-10-06 01:20:24.000000
4       2023-10-27 01:08:34.000000
...                            ...
105370         2023-11-29 10:57:22
105371         2023-11-29 08:41:18
105372         2023-11-29 10:01:12
105373         2023-11-29 13:44:33
105374         2023-11-29 14:00:00

                                                  content category  \
0       UN Secretary-General Antonio Guterres urged th...    Nepal
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[101832 rows x 9 columns]
df_domains_location_cleaned:
      SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37738 rows x 3 columns]

Data Consistancy

In [ ]:
def ensure_data_type_consistency(df_data, df_domains_location, df_traffic):
    """
    This function ensures that each column in the DataFrames is of the correct data type.
    
    Parameters:
    - df_data: DataFrame containing article data.
    - df_domains_location: DataFrame containing domain location data.
    
    Returns:
    - Tuple of DataFrames with ensured data type consistency (df_data, df_domains_location).
    """
    # Ensure 'published_at' in df_data is in datetime format
    if 'published_at' in df_data.columns:
        df_data['published_at'] = pd.to_datetime(df_data['published_at'], errors='coerce')

    # Ensure 'GlobalRank' and other numerical columns in df_domains_location are numeric
    numerical_columns = ['GlobalRank', 'TldRank', 'RefSubNets', 'RefIPs', 'PrevGlobalRank', 'PrevTldRank', 'PrevRefSubNets', 'PrevRefIPs']
    for column in numerical_columns:
        if column in df_traffic.columns:
            df_traffic[column] = pd.to_numeric(df_traffic[column], errors='coerce')

    # Ensure categorical columns in both DataFrames are strings
    categorical_columns_data = ['source_name', 'domain', 'category']
    for column in categorical_columns_data:
        if column in df_data.columns:
            df_data[column] = df_data[column].astype(str)
    
    categorical_columns_domains = ['SourceCommonName', 'location', 'Country']
    for column in categorical_columns_domains:
        if column in df_domains_location.columns:
            df_domains_location[column] = df_domains_location[column].astype(str)

    # Display the data types to verify
    print("\nData types in df_data:\n", df_data.dtypes)
    print("\nData types in df_domains_location:\n", df_domains_location.dtypes)
    print("\nData types in df_traffic:\n", df_traffic.dtypes)

    
    return df_data, df_domains_location, df_traffic

df_data_consistent, df_domains_location_consistent, df_traffic_consistent = ensure_data_type_consistency(df_data, df_domains_location, df_traffic)

Data types in df_data:
 article_id               int64
source_name             object
title                   object
description             object
url                     object
published_at    datetime64[ns]
content                 object
category                object
full_content            object
dtype: object

Data types in df_domains_location:
 SourceCommonName    object
location            object
Country             object
dtype: object

Data types in df_traffic:
 GlobalRank         int64
TldRank            int64
Domain            object
TLD               object
RefSubNets         int64
RefIPs             int64
IDN_Domain        object
IDN_TLD           object
PrevGlobalRank     int64
PrevTldRank        int64
PrevRefSubNets     int64
PrevRefIPs         int64
dtype: object

In [ ]:
print("df_data_consistent")
df_data = df_data_consistent
print(df_data)

print("df_domains_location_consistent: ")
df_domains_location = df_domains_location_consistent
print(df_domains_location)

print("df_traffic_consistent: ")
df_traffic = df_traffic_consistent
print(df_traffic)

df_data_consistent
        article_id                   source_name  \
0            89541  International Business Times
1            89542                    Prtimes.jp
2            89543                      VOA News
3            89545            The Indian Express
4            89547           The Times of Israel
...            ...                           ...
105370      781108            The Indian Express
105371      781129                        Forbes
105372      781235                           NPR
105373      781240                        Forbes
105374      781308                        Forbes

                                                    title  \
0       UN Chief Urges World To 'Stop The Madness' Of ...
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description  \
0       UN Secretary-General Antonio Guterres urged th...
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url        published_at  \
0       https://www.ibtimes.com/un-chief-urges-world-s... 2023-10-30 10:12:35
1       https://prtimes.jp/main/html/rd/p/000000147.00... 2023-10-06 04:40:02
2       https://www.voanews.com/a/un-chief-urges-world... 2023-10-30 10:53:30
3       https://indianexpress.com/article/opinion/edit... 2023-10-06 01:20:24
4       https://www.timesofisrael.com/200-foreigners-d... 2023-10-27 01:08:34
...                                                   ...                 ...
105370  https://indianexpress.com/article/cities/banga...                 NaT
105371  https://www.forbes.com/sites/tomsanderson/2023...                 NaT
105372  https://www.npr.org/2023/11/29/1215016001/heal...                 NaT
105373  https://www.forbes.com/sites/garystern/2023/11...                 NaT
105374  https://www.forbes.com/sites/forbesbusinesscou...                 NaT

                                                  content category  \
0       UN Secretary-General Antonio Guterres urged th...    Nepal
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[101832 rows x 9 columns]
df_domains_location_consistent:
      SourceCommonName location    Country
0           00221.info       SG    Senegal
1            01net.com       FR     France
2             01net.it       IT      Italy
3          0223.com.ar       AR  Argentina
4         022china.com       CH      China
...                ...      ...        ...
37797      zz.diena.lv       LG     Latvia
37798      zz.fjnet.cn       CH      China
37799        zz.mnw.cn       CH      China
37800           zz7.it       IT      Italy
37801    zznews.gov.cn       CH      China

[37738 rows x 3 columns]
df_traffic_consistent:
        GlobalRank  TldRank                  Domain  TLD  RefSubNets   RefIPs  \
0                1        1              google.com  com      471274  2151358
1                2        2            facebook.com  com      465424  2250631
2                3        3             youtube.com  com      420579  1852995
3                4        4             twitter.com  com      404985  1757127
4                5        5           instagram.com  com      364746  1598085
...            ...      ...                     ...  ...         ...      ...
999995      999996   485324              kireie.com  com         222      280
999996      999997   485325             mt-lock.com  com         222      280
999997      999998   485326           pinkwater.com  com         222      280
999998      999999   485327          soderhomes.com  com         222      280
999999     1000000   485328  toyotamusicfactory.com  com         222      280

                    IDN_Domain IDN_TLD  PrevGlobalRank  PrevTldRank  \
0                   google.com     com               1            1
1                 facebook.com     com               2            2
2                  youtube.com     com               3            3
3                  twitter.com     com               4            4
4                instagram.com     com               5            5
...                        ...     ...             ...          ...
999995              kireie.com     com              -1           -1
999996             mt-lock.com     com          952633       461429
999997           pinkwater.com     com              -1           -1
999998          soderhomes.com     com              -1           -1
999999  toyotamusicfactory.com     com          973201       471949

        PrevRefSubNets  PrevRefIPs
0               471248     2147402
1               465297     2247135
2               420483     1848940
3               404998     1753939
4               364618     1594892
...                ...         ...
999995              -1          -1
999996             232         284
999997              -1          -1
999998              -1          -1
999999             228         284

[1000000 rows x 12 columns]

In [ ]:
import string

def normalize_and_standardize(df_data, df_domains_location, df_traffic):
    """
    This function normalizes and standardizes text and categorical data in the DataFrames.
    
    Parameters:
    - df_data: DataFrame containing article data.
    - df_domains_location: DataFrame containing domain location data.
    - df_traffic: DataFrame containing traffic data.
    
    Returns:
    - Tuple of DataFrames with normalized and standardized data (df_data, df_domains_location, df_traffic).
    """
    
    # Helper function to normalize text
    def normalize_text(text):
        if pd.isna(text):
            return text
        # Convert to lowercase, remove punctuation, and strip whitespace
        text = text.lower().strip()
        text = text.translate(str.maketrans('', '', string.punctuation))
        return text
    
    # Identify columns to normalize and standardize for each DataFrame
    text_columns_data = ['source_name', 'domain']
    text_columns_domains = ['SourceCommonName', 'location', 'Country']
    text_columns_traffic = ['Domain', 'TLD', 'IDN_Domain', 'IDN_TLD']

    # Normalize text columns in df_data
    for column in text_columns_data:
        if column in df_data.columns:
            df_data[column] = df_data[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_data[column].unique())
    
    # Normalize text columns in df_domains_location
    for column in text_columns_domains:
        if column in df_domains_location.columns:
            df_domains_location[column] = df_domains_location[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_domains_location[column].unique())
    
    # Normalize text columns in df_traffic
    for column in text_columns_traffic:
        if column in df_traffic.columns:
            df_traffic[column] = df_traffic[column].apply(normalize_text)
            # Display unique values for inspection
            print(f"\nUnique values in '{column}' after normalization:\n", df_traffic[column].unique())
    
    # Example standardization rules (to be adjusted based on the actual unique values found)
    # Create mappings for standardization based on unique values observed
    country_standardization = {
        'usa': 'united states',
        'uk': 'united kingdom',
        'india': 'india'
        # Add more mappings as needed
    }
    
    # Standardize categorical data
    if 'Country' in df_domains_location.columns:
        df_domains_location['Country'] = df_domains_location['Country'].replace(country_standardization)
    
    # Display the cleaned data
    print("\nNormalized df_data:\n", df_data.head())
    print("\nNormalized df_domains_location:\n", df_domains_location.head())
    print("\nNormalized df_traffic:\n", df_traffic.head())

    return df_data, df_domains_location, df_traffic

# Example usage:
df_data_normalized, df_domains_location_normalized, df_traffic_normalized = normalize_and_standardize(df_data, df_domains_location, df_traffic)

Unique values in 'source_name' after normalization:
 ['international business times' 'prtimesjp' 'voa news' ...
 'codingthepastcom' 'ultimovacscom' 'omnigroupcom']

Unique values in 'SourceCommonName' after normalization:
 ['00221info' '01netcom' '01netit' ... 'zzmnwcn' 'zz7it' 'zznewsgovcn']

Unique values in 'location' after normalization:
 ['sg' 'fr' 'it' 'ar' 'ch' 'gm' 'up' 'us' 'rs' 'eg' 'in' 'tw' 'uk' 'ca'
 'sf' 'gr' 'nl' 'ci' 'ir' 'cu' 'lh' 'hu' 'uy' 'br' 'sz' 'am' 'id' 'aj'
 'bg' 'gg' 'tv' 've' 'sp' 'lg' 'cm' 'mx' 'ae' 'po' 'ku' 'bu' 'vm' 'tu'
 'bn' 'mp' 'lo' 'kg' 'pl' 'aa' 'sy' 'hr' 'bk' 'ri' 'si' 'mk' 'as' 'et'
 'is' 'ni' 'kz' 'ja' 'ck' 'kn' 'sa' 'nz' 'ro' 'co' 'au' 'bo' 'ez' 'th'
 'lu' 'no' 'ym' 'dr' 'bh' 'be' 'ei' 'gy' 'sw' 'io' 'rp' 'so' 'al' 'fi'
 'da' 'ml' 'pa' 'iv' 'my' 'ks' 'cy' 'ac' 'ct' 'ug' 'ga' 'mj' 'cg' 'mo'
 'pe' 'ng' 'ce' 'mu' 'cf' 'sn' 'af' 'li' 'gv' 'ao' 'ts' 'ke' 'sl' 'dj'
 'ly' 'gt' 'gb' 'iz' 'gh' 'uv' 'ne' 'en' 'ba' 'ag' 'mt' 'cb' 'qa' 'le'
 'mr' 'np' 'jo' 'su' 'to' 'ha' 'ic' 'td' 'cn' 'cd' 'hk' 'cs' 'cv' 'ec'
 'sx' 'av' 'nu' 'pp' 'pk' 'gl' 'es' 'by' 'bd' 'pm' 'er' 'fp' 'vi' 'md'
 'ti' 'wa' 'bf' 'bb' 'rb' 'bt' 'jm' 'pu' 'ho' 'mz' 'bm' 'bl' 'mb' 'an'
 'la' 'od' 'bx' 'bc' 'kv' 'zi' 'tz' 'vq' 'aq' 'cj' 'gi' 'tx' 're' 'za'
 'nc' 'mg' 'cw' 'ns' 'vt' 'gp' 'do' 'uz' 'sm' 'mi' 'fj' 'ma' 'rw' 'je'
 'ws' 'fm' 'mc' 'gj' 'mh' 'wz' 'vc' 'fo' 'gq' 'mv' 'tl' 'st' 'lt' 'tn'
 'im' 'gk' 'bp' 'tp' 'sc' 'ls' 'mf' 'rq' 'tt' 'mn' 'se' 'we' 'pc' 'oc'
 'os' 'tk' 'sh']

Unique values in 'Country' after normalization:
 ['senegal' 'france' 'italy' 'argentina' 'china' 'germany' 'ukraine'
 'united states' 'russia' 'egypt' 'india' 'taiwan' 'united kingdom'
 'canada' 'south africa' 'greece' 'netherlands' 'chile' 'iran' 'cuba'
 'lithuania' 'hungary' 'uruguay' 'brazil' 'switzerland' 'armenia'
 'indonesia' 'azerbaijan' 'bangladesh' 'georgia' 'tuvalu' 'venezuela'
 'spain' 'latvia' 'cameroon' 'mexico' 'united arab emirates' 'portugal'
 'kuwait' 'bulgaria' 'vietnam' 'turkey' 'benin' 'mauritius'
 'slovak republic' 'kyrgyzstan' 'poland' 'aruba' 'syria' 'croatia'
 'bosniaherzegovina' 'serbia' 'slovenia' 'macedonia' 'australia'
 'ethiopia' 'israel' 'nigeria' 'kazakhstan' 'japan' 'keeling islands'
 'north korea' 'saudi arabia' 'new zealand' 'romania' 'colombia' 'austria'
 'belarus' 'czech republic' 'thailand' 'luxembourg' 'norway' 'yemen'
 'dominican republic' 'belize' 'belgium' 'ireland' 'guyana' 'sweden'
 'british indian ocean territory' 'philippines' 'somalia' 'albania'
 'finland' 'denmark' 'mali' 'paraguay' 'ivory coast' 'malaysia'
 'south korea' 'cyprus' 'antigua and barbuda' 'central african republic'
 'uganda' 'gambia' 'montenegro' 'democratic republic of the congo'
 'morocco' 'peru' 'niger' 'sri lanka' 'oman' 'congo' 'singapore'
 'afghanistan' 'liberia' 'guinea' 'angola' 'tunisia' 'kenya'
 'sierra leone' 'djibouti' 'libya' 'guatemala' 'gabon' 'iraq' 'ghana'
 'burkina faso' 'niue' 'estonia' 'bahrain' 'algeria' 'malta' 'cambodia'
 'qatar' 'lebanon' 'mauritania' 'nepal' 'jordan' 'sudan' 'togo' 'haiti'
 'iceland' 'trinidad and tobago' 'comoros' 'chad' 'hong kong' 'costa rica'
 'cape verde' 'ecuador' 'south georgia and the south sandwich islands'
 'anguilla' 'nicaragua' 'papua new guinea' 'pakistan' 'greenland'
 'el salvador' 'burundi' 'bermuda' 'panama' 'eritrea' 'french polynesia'
 'british virgin islands' 'moldova' 'tajikistan' 'namibia' 'bahamas'
 'barbados' 'bhutan' 'jamaica' 'guineabissau' 'honduras' 'mozambique'
 'myanmar' 'bolivia' 'martinique' 'andorra' 'laos' 'south sudan' 'brunei'
 'botswana' 'kosovo' 'zimbabwe' 'tanzania' 'virgin islands'
 'american samoa' 'cayman islands' 'gibraltar' 'turkmenistan' 'reunion'
 'zambia' 'new caledonia' 'mongolia' 'cook islands' 'suriname'
 'vatican city' 'guadeloupe' 'dominica' 'uzbekistan' 'san marino' 'malawi'
 'fiji' 'madagascar' 'rwanda' 'jersey' 'samoa' 'micronesia' 'macau'
 'grenada' 'montserrat' 'swaziland' 'saint vincent and the grenadines'
 'faroe islands' 'guam' 'maldives' 'tokelau' 'saint lucia' 'lesotho'
 'tonga' 'isle of man' 'guernsey' 'solomon islands'
 'sao tome and principe' 'saint kitts and nevis' 'liechtenstein' 'mayotte'
 'puerto rico' 'east timor' 'monaco' 'seychelles' 'west bank'
 'pitcairn islands' 'unknown' 'oceans' 'turks and caicos islands'
 'saint helena']

Unique values in 'Domain' after normalization:
 ['googlecom' 'facebookcom' 'youtubecom' ... 'pinkwatercom' 'soderhomescom'
 'toyotamusicfactorycom']

Unique values in 'TLD' after normalization:
 ['com' 'org' 'be' 'gl' 'ly' 'eu' 'me' 'gov' 'io' 'gle' 'cn' 'us' 'co'
 'net' 'int' 'uk' 'edu' 'page' 'to' 'ee' 'info' 'ca' 'tv' 'gg' 'fr' 'de'
 'mp' 'site' 'ru' 'watch' 'kr' 'au' 'id' 'ch' 'mx' 'jp' 'fm' 'es' 'nz'
 'it' 'in' 'ph' 'ua' 'dev' 'th' 'google' 'at' 'br' 'se' 'mil' 'nl' 'gd'
 'ar' 'ms' 'app' 'link' 'goog' 'market' 'va' 'hk' 'so' 'pe' 'pl' 'cc'
 'blog' 'social' 'la' 'tl' 'tw' 'fi' 'ie' 'no' 'sg' 'gy' 'pt' 'is' 'cz'
 'tr' 'sk' 'gr' 'kpmg' 'dk' 'my' 'cat' 'legal' 'ro' 'hu' 'za' 'realtor'
 'il' 'ws' 'chat' 'do' 'vn' 'cl' 'hn' 'ke' 'ec' 'ae' 'bg' 'rs' 'ai' 'bio'
 'vip' 'eg' 'hr' 'pk' 'sh' 'by' 'si' 'tech' 'biz' 'lt' 'scot' 'tt' 'lv'
 'sa' 've' 'vu' 'bd' 'ba' 'cr' 'ng' 'lk' 'uy' 'lu' 'gt' 'sc' 'pr' 'lb'
 'as' 'kz' 'bs' 'np' 'mn' 'ge' 'jo' 'bi' 'dz' 'ad' 'ci' 'youtube' 'mt'
 'bw' 'pa' 'ma' 'sv' 'cm' 'uz' 'bo' 'om' 'media' 'cu' 'iq' 'cg' 'jm' 'ck'
 'az' 'qa' 'am' 'kh' 'cd' 'bh' 'dm' 'kw' 'mu' 'gh' 'mz' 'gi' 'zm' 'cx'
 'ml' 'ag' 'ug' 'ps' 'et' 'cf' 'na' 'py' 'ni' 'cv' 'sn' 'mw' 'ki' 'bf'
 'nu' 'je' 'li' 'sb' 'ls' 'rw' 'pn' 'md' 'nr' 'st' 'bj' 'kg' 'mk' 'vi'
 'mg' 'dj' 'ht' 'mv' 'al' 'ao' 'af' 'vg' 'zw' 'bz' 'td' 'bn' 'gm' 'tg'
 'tz' 'sl' 'sm' 'cern' 'fj' 'tn' 'tk' 'im' 'cy' 'gp' 'tm' 'vc' 'ne'
 'studio' 'shop' 'tj' 'mm' 'bt' 'pg' 'jobs' 'ac' 'microsoft' 'science'
 'ga' 'su' 're' 'xyz' 'nf' 'ir' 'report' 'wales' 'ink' 'sr' 'toyota'
 'saxo' 'basketball' 'eus' 'space' 'pub' 'africa' 'world' 'museum' 'name'
 'xnp1ai' 'news' 'top' 'travel' 'green' 'claims' 'madrid' 'club' 'toshiba'
 'cloud' 'wiki' 'online' 'paris' 'finance' 'gal' 'today' 'help' 'website'
 'fo' 'cyou' 'sharp' 'games' 'cfd' 'best' 'bet' 'guru' 'berlin' 'asia'
 'team' 'honda' 'game' 'directory' 'canon' 'technology' 'boutique'
 'digital' 'garden' 'live' 'email' 'life' 'sony' 'barclays' 'fun' 'pw'
 'sncf' 'pm' 'host' 'institute' 'gratis' 'exchange' 'abb' 'nyc' 'dhl'
 'nrw' 'eco' 'men' 'domains' 'date' 'racing' 'one' 'gallery' 'art'
 'review' 'bnpparibas' 'stream' 'press' 'store' 'global' 'sy' 'audio'
 'win' 'trade' 'run' 'expert' 'webcam' 'faith' 'company' 'community'
 'rugby' 'network' 'design' 'london' 'cool' 'fyi' 'town' 'law' 'ntt'
 'hosting' 'nagoya' 'cab' 'xxx' 'fund' 'casino' 'business' 'tools'
 'bradesco' 'neustar' 'panasonic' 'reviews' 'mobi' 'click' 'pics' 'health'
 'quest' 'party' 'pro' 'aero' 'coop' 'auto' 'moe' 'earth' 'place'
 'academy' 'monster' 'work' 'mo' 'services' 'download' 'icu' 'cash'
 'fujitsu' 'sd' 'brussels' 'video' 'plus' 'marketing' 'leclerc' 'delivery'
 'foundation' 'gent' 'money' 'energy' 'land' 'bid' 'photography' 'yachts'
 'sandvik' 'onl' 'sex' 'build' 'xn3e0b707e' 'sbs' 'sx' 'ovh' 'abbott'
 'group' 'pioneer' 'kp' 'gs' 'tf' 'red' 'coffee' 'training' 'llc' 'limo'
 'cheap' 'uno' 'forum' 'sport' 'bar' 'zone' 'engineering' 'vin' 'care'
 'aws' 'bzh' 'barcelona' 'city' 'tube' 'mc' 'deals' 'agency' 'alsace' 'gf'
 'tips' 'auction' 'softbank' 'photos' 'ltd' 'rest' 'holiday' 'systems'
 'ceo' 'church' 'xnmk1bu44c' 'ngo' 'guide' 'inc' 'jcb' 'desi' 'ye' 'lc'
 'style' 'football' 'xnc1avg' 'bm' 'bond' 'glass' 'poker' 'bingo'
 'pharmacy' 'codes' 'photo' 'ninja' 'lgbt' 'works' 'lol' 'lat' 'buzz'
 'wang' 'akdn' 'gold' 'university' 'film' 'mom' 'cam' 'dance' 'xn90ais'
 'equipment' 'center' 'casa' 'events' 'aq' 'istanbul' 'bb' 'fan' 'taipei'
 'day' 'sky' 'cafe' 'fans' 'pictures' 'cymru' 'swiss' 'makeup' 'skin'
 'amsterdam' 'direct' 'xn90ae' 'radio' 'wtf' 'yu' 'sbi' 'international'
 'graphics' 'support' 'tc' 'meme' 'homes' 'trust' 'kitchen' 'godaddy'
 'okinawa' 'melbourne' 'xnp1acf' 'xin' 'rocks' 'hm' 'ski' 'brother'
 'education' 'tokyo' 'tours' 'bot' 'rio' 'camp' 'markets' 'sexy'
 'builders' 'physio' 'security' 'how' 'surgery' 'xnd1acj3b' 'software'
 'beauty' 'dental' 'pizza' 'nc' 'tickets' 'quebec' 'porn' 'bayern' 'koeln'
 'schmidt' 'mba' 'fit' 'hair' 'ooo' 'house' 'autos' 'solutions' 'capital'
 'gq' 'vlaanderen' 'boats' 'blue' 'vision' 'vote' 'box' 'partners' 'frl'
 'fashion' 'ky' 'observer' 'love' 'boston' 'gives' 'ren' 'sale' 'wf'
 'ruhr' 'wine' 'camera' 'kn' 'weir' 'pet' 'moscow' 'clothing' 'stockholm'
 'ax' 'motorcycles' 'you' 'bike' 'epson' 'xn6frz82g' 'clinic' 'property'
 'school' 'gay' 'sz' 'java' 'rwe' 'fitness' 'charity' 'estate' 'tel' 'dog'
 'shopping' 'christmas' 'rip' 'dating' 'kpn' 'zip' 'bible' 'fk' 'family'
 'discount' 'mortgage' 'bank' 'voto' 'golf' 'lr' 'forsale' 'vegas'
 'barclaycard' 'express' 'tax' 'abudhabi' 'edeka' 'college' 'bargains'
 'meet' 'adult' 'cologne' 'movie' 'pictet' 'fish' 'taxi' 'xnvuq861b' 'gdn'
 'amazon' 'post' 'sener' 'schule' 'irish' 'exposed' 'archi' 'ist' 'toys'
 'miami' 'engineer' 'restaurant' 'haus' 'corsica' 'komatsu' 'statefarm'
 'careers' 'farm' 'show' 'hamburg' 'computer' 'nike' 'soccer' 'menu'
 'rehab' 'singles' 'furniture' 'hitachi' 'contact' 'loan' 'pf' 'saarland'
 'cards' 'hockey' 'healthcare' 'gop' 'mr' 'career' 'chrome' 'associates'
 'broker' 'consulting' 'ismaili' 'car' 'wien' 'foo' 'black' 'krd' 'fail'
 'tennis' 'xnfiqs8s' 'horse' 'luxury' 'shoes' 'xn80adxhks' 'yokohama'
 'yandex' 'yt' 'rodeo' 'ing' 'wedding' 'realestate' 'industries' 'free'
 'catering' 'afl' 'kyoto' 'insure' 'uol' 'xn80asehdb' 'kred' 'credit'
 'apple' 'aw' 'recipes' 'country' 'fage' 'mq' 'coach' 'nexus' 'vet' 'new'
 'cw' 'loans' 'organic' 'lighting' 'study' 'dad' 'productions' 'ventures'
 'ss' 'shell' 'kim' 'management' 'xnj1amh' 'spa' 'nico' 'jewelry' 'pink'
 'ong' 'limited' 'jetzt' 'kaufen' 'construction' 'beer' 'cooking'
 'schwarz' 'reisen' 'cuisinella' 'solar' 'investments' 'cpa' 'tattoo'
 'tienda' 'boo' 'kiwi' 'storage' 'repair' 'rent' 'surf' 'capetown'
 'diamonds' 'band' 'villas' 'baidu' 'gift' 'weber' 'promo' 'gu' 'diet'
 'immo' 'med' 'supply' 'food' 'srl' 'mh' 'cars' 'courses' 'bauhaus' 'sap'
 'feedback' 'jll' 'cricket' 'apartments' 'crs' 'ipiranga' 'flickr'
 'coupons' 'tp' 'gifts' 'forex' 'voyage' 'parts' 'salon' 'broadway'
 'trading' 'mov' 'hiv' 'cleaning' 'osaka' 'tirol' 'rich' 'abc' 'tatar'
 'republican' 'properties' 'moda' 'creditcard' 'yahoo' 'bbc' 'xnh2brj9c'
 'durban' 'lidl' 'accountant' 'sydney' 'diy' 'xngecrj9c' 'baby'
 'xn6qq986b3xl' 'audi' 'juegos' 'xn80aswg' 'guitars' 'shiksha' 'man' 'km'
 'joburg' 'philips' 'supplies' 'lawyer' 'citic' 'seat' 'vanguard' 'army'
 'cruises' 'creditunion' 'fast' 'florist' 'financial' 'globo' 'actor'
 'itau' 'flowers' 'ryukyu' 'enterprises' 'navy' 'tires' 'zara' 'memorial'
 'rentals' 'monash' 'plumbing' 'xnt60b56a']

Unique values in 'IDN_Domain' after normalization:
 ['googlecom' 'facebookcom' 'youtubecom' ... 'pinkwatercom' 'soderhomescom'
 'toyotamusicfactorycom']

Unique values in 'IDN_TLD' after normalization:
 ['com' 'org' 'be' 'gl' 'ly' 'eu' 'me' 'gov' 'io' 'gle' 'cn' 'us' 'co'
 'net' 'int' 'uk' 'edu' 'page' 'to' 'ee' 'info' 'ca' 'tv' 'gg' 'fr' 'de'
 'mp' 'site' 'ru' 'watch' 'kr' 'au' 'id' 'ch' 'mx' 'jp' 'fm' 'es' 'nz'
 'it' 'in' 'ph' 'ua' 'dev' 'th' 'google' 'at' 'br' 'se' 'mil' 'nl' 'gd'
 'ar' 'ms' 'app' 'link' 'goog' 'market' 'va' 'hk' 'so' 'pe' 'pl' 'cc'
 'blog' 'social' 'la' 'tl' 'tw' 'fi' 'ie' 'no' 'sg' 'gy' 'pt' 'is' 'cz'
 'tr' 'sk' 'gr' 'kpmg' 'dk' 'my' 'cat' 'legal' 'ro' 'hu' 'za' 'realtor'
 'il' 'ws' 'chat' 'do' 'vn' 'cl' 'hn' 'ke' 'ec' 'ae' 'bg' 'rs' 'ai' 'bio'
 'vip' 'eg' 'hr' 'pk' 'sh' 'by' 'si' 'tech' 'biz' 'lt' 'scot' 'tt' 'lv'
 'sa' 've' 'vu' 'bd' 'ba' 'cr' 'ng' 'lk' 'uy' 'lu' 'gt' 'sc' 'pr' 'lb'
 'as' 'kz' 'bs' 'np' 'mn' 'ge' 'jo' 'bi' 'dz' 'ad' 'ci' 'youtube' 'mt'
 'bw' 'pa' 'ma' 'sv' 'cm' 'uz' 'bo' 'om' 'media' 'cu' 'iq' 'cg' 'jm' 'ck'
 'az' 'qa' 'am' 'kh' 'cd' 'bh' 'dm' 'kw' 'mu' 'gh' 'mz' 'gi' 'zm' 'cx'
 'ml' 'ag' 'ug' 'ps' 'et' 'cf' 'na' 'py' 'ni' 'cv' 'sn' 'mw' 'ki' 'bf'
 'nu' 'je' 'li' 'sb' 'ls' 'rw' 'pn' 'md' 'nr' 'st' 'bj' 'kg' 'mk' 'vi'
 'mg' 'dj' 'ht' 'mv' 'al' 'ao' 'af' 'vg' 'zw' 'bz' 'td' 'bn' 'gm' 'tg'
 'tz' 'sl' 'sm' 'cern' 'fj' 'tn' 'tk' 'im' 'cy' 'gp' 'tm' 'vc' 'ne'
 'studio' 'shop' 'tj' 'mm' 'bt' 'pg' 'jobs' 'ac' 'microsoft' 'science'
 'ga' 'su' 're' 'xyz' 'nf' 'ir' 'report' 'wales' 'ink' 'sr' 'toyota'
 'saxo' 'basketball' 'eus' 'space' 'pub' 'africa' 'world' 'museum' 'name'
 'рф' 'news' 'top' 'travel' 'green' 'claims' 'madrid' 'club' 'toshiba'
 'cloud' 'wiki' 'online' 'paris' 'finance' 'gal' 'today' 'help' 'website'
 'fo' 'cyou' 'sharp' 'games' 'cfd' 'best' 'bet' 'guru' 'berlin' 'asia'
 'team' 'honda' 'game' 'directory' 'canon' 'technology' 'boutique'
 'digital' 'garden' 'live' 'email' 'life' 'sony' 'barclays' 'fun' 'pw'
 'sncf' 'pm' 'host' 'institute' 'gratis' 'exchange' 'abb' 'nyc' 'dhl'
 'nrw' 'eco' 'men' 'domains' 'date' 'racing' 'one' 'gallery' 'art'
 'review' 'bnpparibas' 'stream' 'press' 'store' 'global' 'sy' 'audio'
 'win' 'trade' 'run' 'expert' 'webcam' 'faith' 'company' 'community'
 'rugby' 'network' 'design' 'london' 'cool' 'fyi' 'town' 'law' 'ntt'
 'hosting' 'nagoya' 'cab' 'xxx' 'fund' 'casino' 'business' 'tools'
 'bradesco' 'neustar' 'panasonic' 'reviews' 'mobi' 'click' 'pics' 'health'
 'quest' 'party' 'pro' 'aero' 'coop' 'auto' 'moe' 'earth' 'place'
 'academy' 'monster' 'work' 'mo' 'services' 'download' 'icu' 'cash'
 'fujitsu' 'sd' 'brussels' 'video' 'plus' 'marketing' 'leclerc' 'delivery'
 'foundation' 'gent' 'money' 'energy' 'land' 'bid' 'photography' 'yachts'
 'sandvik' 'onl' 'sex' 'build' '한국' 'sbs' 'sx' 'ovh' 'abbott' 'group'
 'pioneer' 'kp' 'gs' 'tf' 'red' 'coffee' 'training' 'llc' 'limo' 'cheap'
 'uno' 'forum' 'sport' 'bar' 'zone' 'engineering' 'vin' 'care' 'aws' 'bzh'
 'barcelona' 'city' 'tube' 'mc' 'deals' 'agency' 'alsace' 'gf' 'tips'
 'auction' 'softbank' 'photos' 'ltd' 'rest' 'holiday' 'systems' 'ceo'
 'church' '닷컴' 'ngo' 'guide' 'inc' 'jcb' 'desi' 'ye' 'lc' 'style'
 'football' 'орг' 'bm' 'bond' 'glass' 'poker' 'bingo' 'pharmacy' 'codes'
 'photo' 'ninja' 'lgbt' 'works' 'lol' 'lat' 'buzz' 'wang' 'akdn' 'gold'
 'university' 'film' 'mom' 'cam' 'dance' 'бел' 'equipment' 'center' 'casa'
 'events' 'aq' 'istanbul' 'bb' 'fan' 'taipei' 'day' 'sky' 'cafe' 'fans'
 'pictures' 'cymru' 'swiss' 'makeup' 'skin' 'amsterdam' 'direct' 'бг'
 'radio' 'wtf' 'yu' 'sbi' 'international' 'graphics' 'support' 'tc' 'meme'
 'homes' 'trust' 'kitchen' 'godaddy' 'okinawa' 'melbourne' 'рус' 'xin'
 'rocks' 'hm' 'ski' 'brother' 'education' 'tokyo' 'tours' 'bot' 'rio'
 'camp' 'markets' 'sexy' 'builders' 'physio' 'security' 'how' 'surgery'
 'дети' 'software' 'beauty' 'dental' 'pizza' 'nc' 'tickets' 'quebec'
 'porn' 'bayern' 'koeln' 'schmidt' 'mba' 'fit' 'hair' 'ooo' 'house'
 'autos' 'solutions' 'capital' 'gq' 'vlaanderen' 'boats' 'blue' 'vision'
 'vote' 'box' 'partners' 'frl' 'fashion' 'ky' 'observer' 'love' 'boston'
 'gives' 'ren' 'sale' 'wf' 'ruhr' 'wine' 'camera' 'kn' 'weir' 'pet'
 'moscow' 'clothing' 'stockholm' 'ax' 'motorcycles' 'you' 'bike' 'epson'
 '移动' 'clinic' 'property' 'school' 'gay' 'sz' 'java' 'rwe' 'fitness'
 'charity' 'estate' 'tel' 'dog' 'shopping' 'christmas' 'rip' 'dating'
 'kpn' 'zip' 'bible' 'fk' 'family' 'discount' 'mortgage' 'bank' 'voto'
 'golf' 'lr' 'forsale' 'vegas' 'barclaycard' 'express' 'tax' 'abudhabi'
 'edeka' 'college' 'bargains' 'meet' 'adult' 'cologne' 'movie' 'pictet'
 'fish' 'taxi' '信息' 'gdn' 'amazon' 'post' 'sener' 'schule' 'irish'
 'exposed' 'archi' 'ist' 'toys' 'miami' 'engineer' 'restaurant' 'haus'
 'corsica' 'komatsu' 'statefarm' 'careers' 'farm' 'show' 'hamburg'
 'computer' 'nike' 'soccer' 'menu' 'rehab' 'singles' 'furniture' 'hitachi'
 'contact' 'loan' 'pf' 'saarland' 'cards' 'hockey' 'healthcare' 'gop' 'mr'
 'career' 'chrome' 'associates' 'broker' 'consulting' 'ismaili' 'car'
 'wien' 'foo' 'black' 'krd' 'fail' 'tennis' '中国' 'horse' 'luxury' 'shoes'
 'москва' 'yokohama' 'yandex' 'yt' 'rodeo' 'ing' 'wedding' 'realestate'
 'industries' 'free' 'catering' 'afl' 'kyoto' 'insure' 'uol' 'онлайн'
 'kred' 'credit' 'apple' 'aw' 'recipes' 'country' 'fage' 'mq' 'coach'
 'nexus' 'vet' 'new' 'cw' 'loans' 'organic' 'lighting' 'study' 'dad'
 'productions' 'ventures' 'ss' 'shell' 'kim' 'management' 'укр' 'spa'
 'nico' 'jewelry' 'pink' 'ong' 'limited' 'jetzt' 'kaufen' 'construction'
 'beer' 'cooking' 'schwarz' 'reisen' 'cuisinella' 'solar' 'investments'
 'cpa' 'tattoo' 'tienda' 'boo' 'kiwi' 'storage' 'repair' 'rent' 'surf'
 'capetown' 'diamonds' 'band' 'villas' 'baidu' 'gift' 'weber' 'promo' 'gu'
 'diet' 'immo' 'med' 'supply' 'food' 'srl' 'mh' 'cars' 'courses' 'bauhaus'
 'sap' 'feedback' 'jll' 'cricket' 'apartments' 'crs' 'ipiranga' 'flickr'
 'coupons' 'tp' 'gifts' 'forex' 'voyage' 'parts' 'salon' 'broadway'
 'trading' 'mov' 'hiv' 'cleaning' 'osaka' 'tirol' 'rich' 'abc' 'tatar'
 'republican' 'properties' 'moda' 'creditcard' 'yahoo' 'bbc' 'भारत'
 'durban' 'lidl' 'accountant' 'sydney' 'diy' 'ભારત' 'baby' '我爱你' 'audi'
 'juegos' 'сайт' 'guitars' 'shiksha' 'man' 'km' 'joburg' 'philips'
 'supplies' 'lawyer' 'citic' 'seat' 'vanguard' 'army' 'cruises'
 'creditunion' 'fast' 'florist' 'financial' 'globo' 'actor' 'itau'
 'flowers' 'ryukyu' 'enterprises' 'navy' 'tires' 'zara' 'memorial'
 'rentals' 'monash' 'plumbing' '닷넷']

Normalized df_data:
    article_id                   source_name  \
0       89541  international business times
1       89542                     prtimesjp
2       89543                      voa news
3       89545            the indian express
4       89547           the times of israel

                                               title  \
0  UN Chief Urges World To 'Stop The Madness' Of ...
1              RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2  UN Chief Urges World to 'Stop the Madness' of ...
3  Sikkim warning: Hydroelectricity push must be ...
4  200 foreigners, dual nationals cut down in Ham...

                                         description  \
0  UN Secretary-General Antonio Guterres urged th...
1  [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2  UN Secretary-General Antonio Guterres urged th...
3  Ecologists caution against the adverse effects...
4  France lost 35 citizens, Thailand 33, US 31, U...

                                                 url        published_at  \
0  https://www.ibtimes.com/un-chief-urges-world-s... 2023-10-30 10:12:35
1  https://prtimes.jp/main/html/rd/p/000000147.00... 2023-10-06 04:40:02
2  https://www.voanews.com/a/un-chief-urges-world... 2023-10-30 10:53:30
3  https://indianexpress.com/article/opinion/edit... 2023-10-06 01:20:24
4  https://www.timesofisrael.com/200-foreigners-d... 2023-10-27 01:08:34

                                             content category  \
0  UN Secretary-General Antonio Guterres urged th...    Nepal
1  RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2  Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3  At least 14 persons lost their lives and more ...    Nepal
4  Scores of foreign citizens were killed, taken ...    Nepal

                                        full_content
0  UN Secretary-General Antonio Guterres urged th...
1                                                NaN
2                                                NaN
3  At least 14 persons lost their lives and more ...
4                                                NaN

Normalized df_domains_location:
   SourceCommonName location    Country
0        00221info       sg    senegal
1         01netcom       fr     france
2          01netit       it      italy
3        0223comar       ar  argentina
4      022chinacom       ch      china

Normalized df_traffic:
    GlobalRank  TldRank        Domain  TLD  RefSubNets   RefIPs    IDN_Domain  \
0           1        1     googlecom  com      471274  2151358     googlecom
1           2        2   facebookcom  com      465424  2250631   facebookcom

In [ ]:
print("df_data_normalized")
df_data = df_data_normalized
print(df_data)

print("df_domains_location_normalized: ")
df_domains_location = df_domains_location_normalized
print(df_domains_location)

print("df_traffic_normalized: ")
df_traffic = df_traffic_normalized
print(df_traffic)

df_data_normalized
        article_id                   source_name  \
0            89541  international business times
1            89542                     prtimesjp
2            89543                      voa news
3            89545            the indian express
4            89547           the times of israel
...            ...                           ...
105370      781108            the indian express
105371      781129                        forbes
105372      781235                           npr
105373      781240                        forbes
105374      781308                        forbes

                                                    title  \
0       UN Chief Urges World To 'Stop The Madness' Of ...
1                   RANDEBOOよりワンランク上の大人っぽさが漂うニットとベストが新登場。
2       UN Chief Urges World to 'Stop the Madness' of ...
3       Sikkim warning: Hydroelectricity push must be ...
4       200 foreigners, dual nationals cut down in Ham...
...                                                   ...
105370  Have done no wrong, only did party work, says ...
105371  FC Barcelona Guarantees $77.6 Million Champion...
105372  Three hospitals ignored her gravely ill fiancé...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Tips For Investing In Short-Term Rentals In Dubai

                                              description  \
0       UN Secretary-General Antonio Guterres urged th...
1       [株式会社Ainer]\nRANDEBOO（ランデブー）では2023年7月18日(火)より公...
2       UN Secretary-General Antonio Guterres urged th...
3       Ecologists caution against the adverse effects...
4       France lost 35 citizens, Thailand 33, US 31, U...
...                                                   ...
105370  The High Court today allowed Shivakumar to wit...
105371  FC Barcelona have guaranteed at least $77.6 mi...
105372  Forty years ago, Sarah Lubarsky came home from...
105373  A farmstand in Long Island, Kerber’s Farms has...
105374  By exploring your options and keeping a few be...

                                                      url        published_at  \
0       https://www.ibtimes.com/un-chief-urges-world-s... 2023-10-30 10:12:35
1       https://prtimes.jp/main/html/rd/p/000000147.00... 2023-10-06 04:40:02
2       https://www.voanews.com/a/un-chief-urges-world... 2023-10-30 10:53:30
3       https://indianexpress.com/article/opinion/edit... 2023-10-06 01:20:24
4       https://www.timesofisrael.com/200-foreigners-d... 2023-10-27 01:08:34
...                                                   ...                 ...
105370  https://indianexpress.com/article/cities/banga...                 NaT
105371  https://www.forbes.com/sites/tomsanderson/2023...                 NaT
105372  https://www.npr.org/2023/11/29/1215016001/heal...                 NaT
105373  https://www.forbes.com/sites/garystern/2023/11...                 NaT
105374  https://www.forbes.com/sites/forbesbusinesscou...                 NaT

                                                  content category  \
0       UN Secretary-General Antonio Guterres urged th...    Nepal
1       RANDEBOO2023718()WEB2023 Autumn Winter \n"Nepa...    Nepal
2       Kathmandu, Nepal  UN Secretary-General Antonio...    Nepal
3       At least 14 persons lost their lives and more ...    Nepal
4       Scores of foreign citizens were killed, taken ...    Nepal
...                                                   ...      ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...     Home
105371  FC Barcelona have guaranteed at least $767.6 m...     Home
105372  The photo from David and Sarah Lubarsky's wedd...     Home
105373  Kerbers Farm: Bringing Farm To Table To Manhat...     Home
105374  Cofounder at UpperKey. Passionate about proper...     Home

                                             full_content
0       UN Secretary-General Antonio Guterres urged th...
1                                                     NaN
2                                                     NaN
3       At least 14 persons lost their lives and more ...
4                                                     NaN
...                                                   ...
105370  Karnataka Deputy Chief Minister D K Shivakumar...
105371  FC Barcelona have guaranteed at least $767.6 m...
105372  The photo from David and Sarah Lubarsky's wedd...
105373  Kerber’s Farm: Bringing Farm To Table To Manha...
105374  Cofounder at UpperKey. Passionate about proper...

[101832 rows x 9 columns]
df_domains_location_normalized:
      SourceCommonName location    Country
0            00221info       sg    senegal
1             01netcom       fr     france
2              01netit       it      italy
3            0223comar       ar  argentina
4          022chinacom       ch      china
...                ...      ...        ...
37797        zzdienalv       lg     latvia
37798        zzfjnetcn       ch      china
37799          zzmnwcn       ch      china
37800            zz7it       it      italy
37801      zznewsgovcn       ch      china

[37738 rows x 3 columns]
df_traffic_normalized:
        GlobalRank  TldRank                 Domain  TLD  RefSubNets   RefIPs  \
0                1        1              googlecom  com      471274  2151358
1                2        2            facebookcom  com      465424  2250631
2                3        3             youtubecom  com      420579  1852995
3                4        4             twittercom  com      404985  1757127
4                5        5           instagramcom  com      364746  1598085
...            ...      ...                    ...  ...         ...      ...
999995      999996   485324              kireiecom  com         222      280
999996      999997   485325              mtlockcom  com         222      280
999997      999998   485326           pinkwatercom  com         222      280
999998      999999   485327          soderhomescom  com         222      280
999999     1000000   485328  toyotamusicfactorycom  com         222      280

                   IDN_Domain IDN_TLD  PrevGlobalRank  PrevTldRank  \
0                   googlecom     com               1            1
1                 facebookcom     com               2            2
2                  youtubecom     com               3            3
3                  twittercom     com               4            4
4                instagramcom     com               5            5
...                       ...     ...             ...          ...
999995              kireiecom     com              -1           -1
999996              mtlockcom     com          952633       461429
999997           pinkwatercom     com              -1           -1
999998          soderhomescom     com              -1           -1
999999  toyotamusicfactorycom     com          973201       471949

        PrevRefSubNets  PrevRefIPs
0               471248     2147402
1               465297     2247135
2               420483     1848940
3               404998     1753939
4               364618     1594892
...                ...         ...
999995              -1          -1
999996             232         284
999997              -1          -1
999998              -1          -1
999999             228         284

[1000000 rows x 12 columns]

In [ ]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101832 entries, 0 to 105374
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   article_id    101832 non-null  int64
 1   source_name   101832 non-null  object
 2   title         101792 non-null  object
 3   description   101452 non-null  object
 4   url           101832 non-null  object
 5   published_at  62932 non-null   datetime64[ns]
 6   content       101832 non-null  object
 7   category      101832 non-null  object
 8   full_content  54889 non-null   object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 7.8+ MB